$red:						#EC2224;
$blue:						#346A78;
$gray:						#444444;
$gray-light:				#F5F5F5;
$gray-light2:				#736F6B;
$gray-medium:				#EAEAEA;
$teal:						#346A78;
$copper:					#805B3F;


$bg-gray:					$gray;
$bg-gray-medium:			$gray-medium;
$bg-gray-light:				$gray-light;
$bg-gray-light2:			$gray-light2;
$bg-red: 					$red;
$bg-teal:					$teal;
$bg-green:					$teal;
$bg-copper:					$copper;

$divider-gray:				#555;
$divider-gray-light:		#D6D6D6;
$divider-red:				$red;

$link-blue: 				$blue;
$link-gray:					$gray;
$link-red: 					$red;

$text-blue:					$blue;
$text-gray: 				$gray;
$text-gray-light: 			$gray-light2;
$text-red:					$red;
$text-teal:					$teal;
$text-copper:				$copper;
$text-footer-gray:			#999999;
$text-footer-gray-light:	#D6D6D6;